<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="cove.css" />
    <title>home</title>
  </head>
  <body>
    <div class="Header">
      <img src="/image/logo.png" alt="logo here" />
    </div>

    <div class="nav">
    <ul>
      <li><a class="active" href="#home">Home</a></li>
      <li><a href="#Sign Up">program</a></li>
      <li><a href="#Menu">Login</a></li>
    </ul>
</div>

    <img class="cove" src="/image/dolphincove.jpg" alt="logo here" />
  </body>
</html>
